@import url(nrhh.css);

/* The following styles are for ALL browsers, including Netscape
   Navigator 4.x.  Put more detailed CSS in rhn.css. */

body, td, th, div, p {
	font-family: verdana;
        font-size: 12px;
        cursor: default;
}
body {
	color: #000;
	padding: 0;
	padding-top: 8px;
	margin: 0;
        margin-top: 47px;
        /* background: #fff url(/img/bg-drift.gif) top repeat-x; */
        background-color: #fff;
}

#broken-browser-warning { 
        text-align: center;
}

.sidebar {
	padding: 8px;
	border-right: 1px solid #ccc;
        vertical-align: top;
}
.sidebar-title {
	color: #999;
	font-size: 10px;
	text-align: center;
	border-bottom: 1px solid #ccc;
}
.sidebar-links {
	font-size: 10px;
	margin: 0;
	padding: 0 0 0 15pt;
	color: #999;
}
.sidebar-title + .sidebar-links {
	margin-top: -0.5em;
}

.sidebar-info {
  padding: 4px 4px;
}
.sidebar-info h2 {
  padding-left: 10px;
  margin: 4px;
}
.legend-row {
  padding: 0px 2px;
  white-space: nowrap;
}
.legend-row img {
  vertical-align: middle;
  margin: 3px 4px;
  padding: 0;
}

.tab-row img {
        vertical-align: bottom;
}

.bar-undertabs div {
	background: #100 url(img/tab-bar.gif) repeat-x bottom;
        height: 5px;
        font-size: 1px;
        margin: 0;
        padding: 0;
}
.bar-status form { 
        margin: 0;
}

.bar-status {
	background-color: #ddd;
	font-size: 10px;
	padding: 0px;
	margin: 0;
	border: 1px solid #ccc;
	border-top: none;
	/*
	text-align: left;
	*/
}

#footer {
        /*
	border-top: 2px dotted #ccc;
	padding: 2em 4em 2em 4em;
	*/
	padding: 1em;
	margin: 1em 4em 1em 4em;
	text-align: center;
	font-size: 10px;
	color: #aaa;

	margin-left: auto;
	margin-right: auto;
        margin-top: 64px;
}

ul#help-url-list ul {

}
ul#help-url-list li {
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

ul#help-url-list li a {
  font-weight: bold;
}

ul#faq-list { 
  padding-left: 2px;
  margin-left: 0;
}

#faq-list li { 
  list-style: none;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#faq-list a {
}

#faq-details { 
  margin-left: 1em;
}

#faq-details a.faq-back-to-top { 
  float: right;
}

#faq-details p + h3 { 
  padding-top: 2em;
}

div.login-component { 
  text-align: center;
}

div.login-box { 
  border: 1px solid #999;
  text-align: right;
  padding: 12px 10px;
  margin: 4px;
  background-color: #eee;
  width: 190px;
  margin-left: auto;
  margin-right: auto;
}

div.login-box form { 
  margin: 0;
}

div.login-box div.input-row { 
  font-weight: bold;
  font-size: 10px;
  white-space: nowrap;
}

div.login-box div.input-row input { 
  font-weight: normal;
  vertical-align: middle;
}

div.filter-input { 
}
div.filter-input input { 
  vertical-align: middle;
  font-size: 10px;
}

/*
 Devel environment only.

b, i, u, font, center, .fixme, blockquote { 
  background-color: #eaa;
  text-decoration: line-through;
}
*/
