/* This file is for more detailed compliance (basically any browser
"better" than NN 4.x */

#broken-browser-warning { 
  display: none;
}

table.list {
	font-size: 10px;
	border: 1px solid #999;
}
table.list-pagination {
	font-size: 10px;
}
.list th {
	border-width: 0 0 1px 0;
}
.list th + th {
	border-left: 1px solid #ccc;
}
.list a {
}
.list a:hover {
	text-decoration: underline;
}
.list-empty-message {
  margin: 0 2%;
  cursor: text;
  font-weight:  bold;
}
.list-filterbox {
	font-size: 10px;
}
.list-alphabar {
	text-align: right;
	font-size: 12px;
        white-space: nowrap;
}
.list-alphabar a {
        padding: 0px 2px;
}
.list-alphabar-enabled {
        padding: 0px 2px;
}
.list-alphabar-disabled {
        padding: 0px 2px;
	color:  #aaa;
        cursor: default;
}
.list-checkbox {
	text-align: center;
}
.list-box {
	border: 1px solid #ccc;
}
.list-data-number {
	text-align: right;
}
.list-row-even {
	background-color: #f5f5f5;
}
.list-row-odd {
        background-color: #ffffff;
}
.list-row-summary {
	text-align: right;
	font-weight: bold;
	border: 1px solid #ccc;
	background-color: #eee;
}
.list-row-even td, .list-row-odd td, .list-row-summary td {
	padding: 4px;
}
.list-navbuttons {
	white-space: nowrap;
}
.list-infotext {
	white-space: nowrap;
	color: #777;
}
.list-channel a {
}
.list-channel ul {
	padding: 0;
	margin: 0;
}
.list-channel li {
	list-style: none;
}
.list-channel li + li {
	padding-top: 0;
}
.list-channel li + li li {
	padding-top: 0;
}
.list-channel li li {
	list-style-image:  url(../../Local%20Settings/Temporary%20Internet%20Files/Content.IE5/923ZDIIV/%22/img/branch.gif%22);
	margin-left: 2.5em;
}

/* --- TABLE TREE VIEW --- */
.table-tree-even td, .table-tree-odd td {
	padding: 15px 15px 0 15px;
}
.table-tree-even img,
.table-tree-odd img {
	margin-left: 4px;
}
.table-tree-odd {
	background-color: #f5f5f5;
}
.table-tree-even {
	background-color: #fff;
}
.table-tree-even + .table-tree-even td,
.table-tree-odd + .table-tree-odd td {
	padding: 0 15px;
}
.table-tree-odd + .table-tree-even td {
	border-top: 15px solid #f5f5f5;
}
.table-tree-even + .table-tree-odd td {
	border-top: 15px solid #fff;
}
/* --- END TABLE TREE VIEW --- */

.invisible-buttons input {
	/*
	border: none;
	background-color: #fff;
	text-decoration: underline;
	color: #00f;
	cursor: pointer;
	*/
	font-size: 10px;
}
a:hover, .invisible-buttons input:hover {
	color: #f00;
}

:visited {
	color: #3850a9;
}
:link {
	color: #2843c9;
}
a { 
	text-decoration: none;
}
a:hover {
	text-decoration: underline !important;
}
a[name] {
	text-decoration: inherit;
}
a[name]:hover {
	text-decoration: none !important;
}

.tab-row td {
	background: #fff url(../../Local%20Settings/Temporary%20Internet%20Files/Content.IE5/923ZDIIV/%22/img/tab-bar-top.gif%22) repeat-x bottom;
}

hr {
	border: 0;
	border-bottom: 1px dashed #ccc;
	padding: 0.5em;
}

.site-info {
        border: 2px solid #aab5dd;
	background-color: #dde5ff;

        padding: 0.5em;
        margin-bottom: 0.5em;
        margin-top: 2px;
        font-size: 14px;
	text-align: center;
}
.site-alert {
        border: 3px solid #d00;
	background-color: #924;
        color: white;

        padding: 0.4em;
        margin-bottom: 0.5em;
        margin-top: 2px;
	text-align: left;
}
.local-info {
        color: #aab5dd;

	text-align: left;
        font-size: 14px;
}
.local-alert {
        color: #d00;

	text-align: left;
        font-size: 14px;
}

.bar-search {
	font-size: 10px;
	text-align: left;
}
.bar-logged-out {
	font-weight: bold;
	font-size: 10px;
	text-align: center;
}
.bar-login {
	font-weight: bold;
	text-align: left;
}
.bar-ssm {
	font-size: 10px;
	text-align:  right;
}
.sidenav {
	font-size: 12px;
	padding: 0;
	margin: 0;
	white-space: nowrap;
}
.sidenav ul {
	margin: 0;
	margin-left: 8px;
	margin-bottom: 5px;
	padding: 0;
}

.sidenav li {
	display: inline;
	list-style: none;
	/*
	border-left: 5px solid #ccc;
	*/
}
.sidenav li a {
	display: block;
	margin: 2px;
	padding: 3pt 8pt 3pt 8pt;
	background-color: #eee;
	border: 1px solid #ccc;
	color: #444;
	margin-left: 3px;
}
.sidenav li a:visited { 
	color: #444;
}
.sidenav li + li {
}
.sidenav ul li a {
	background-color: #e0e0e0;
	/*
	color: #444;
	padding-left: 10pt;
	font-size: 90%;
	*/
}
.sidenav-selected {
	color: white !important;
	/*
	font-weight: bold;
	*/
	border: 1px solid #500 !important;
	background: #a62b2b url(../../Local%20Settings/Temporary%20Internet%20Files/Content.IE5/923ZDIIV/%22/img/sidenav-selected.gif%22) no-repeat !important;
}
.sidenav-selected-parent {
	/*
	color: white !important;
	font-weight: bold;
	border: 1px solid #500 !important;
	background: #a62b2b url("/img/sidenav-selected.gif") no-repeat !important;
	*/
	background-color: #ccc !important;
}
.sidenav a:hover, .sidenav-selected a:hover {
	background-image: none !important;
	border: 1px outset #999 !important;
	/*
	text-decoration: underline;
	*/
	color: #fff !important;
	background-color: #777 !important;
}
td {
	/*
	border: 1px dotted red;
	*/
}
button {
	padding: 2px 5px 2px 5px;
}
button:hover {
	background-color: #eee;
}
button:active {
	padding: 3px 6px 1px 4px;
}
a.help-title { 
  vertical-align: top;
}

a.help-title img {
  border: 0;
  padding: 0;
  margin: 0;
  vertical-align: top;

  /* Mozilla and IE extensions */
  -moz-opacity: 75%;
  filter: alpha(opacity=70);
}
a.help-title:hover img {
  /* Mozilla and IE extensions */
  -moz-opacity: 100%;
  filter: alpha(opacity=100);
}

table.your-rhn th a { 
}

table.your-rhn table.half-table td { 
  padding-left: 4px;
  padding-right: 4px;
}

table.your-rhn table.full-table td { 
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
}

th {
	background-color: #eee;
	padding: 4px;
	border: 1px solid #ccc;
	color: #999;
}
th + th {
	border-left: 0;
}
a[name]:hover {
	color: inherit;
}

h1, div.toolbar-h1 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 20px;
}

h1 img, div.toolbar-h1 img { 
  vertical-align: middle;
  padding-top: 2px;
  padding-bottom: 4px;
}

h1 a.help-title img, div.toolbar-h1 a.help-title img { 
  margin: 0;
  padding: 0;
  vertical-align: top;
}

div.toolbar-h1, div.toolbar-h2 { 
  font-weight: bold;
}
h2, div.toolbar-h2  {
  font-size: 1.0em;
  color: #999;
  border-bottom: 2px solid #ccc;
}
h2 img, div.toolbar-h2 img { 
  vertical-align: middle;
}
h2 a { 
}


h3 {
  font-size: 1.0em;
}

.form-center {
	text-align: center;
}
select, input, textarea {
	font-family: sans-serif;
	font-size: 100%;
}
.indent {
	margin-left: 1em;
}
.iso-md5 {
	font-family: monospace;
	text-align: right;
}

.list-iso th {
	border-width: 0 0 1px 0;
}
.list-iso th + th {
	border-left: 1px solid #ccc;
}
.list-iso td.seperated {
        border-top: 1px solid #ccc;
        font-weight: bold;
}
.list-iso {
	/*
	text-align: center;
	*/
	font-size: 10px;
	border: 1px solid #999;
	padding: 1px;
}
.list-iso-item {
	margin-left: 1em;
}
/*
.list-iso-item:first-line {
	font-weight: bold;
}
*/
.list-iso-item {
	color: #555;
}
.list-iso-item + .list-iso-item {
	margin-top: 0.05em;
}
.list-iso a {
 	/*
	font-weight: bold;
	*/
}
.list-iso p + p {
}
.a-to-z-bar {

}
.linkchain {
	text-align: center;
	font-size: 12px;
	color: #555;
        white-space: nowrap;
}
.linkchain a {
	font-weight: bold;
}
.preference {
	margin: 0 30px 0 30px;
	text-align: left;
	font-size: 0.9em;
	font-weight: bold;
	color: #444;
}


.schedule-action-interface th {
	background-color: #fff;
	padding: 2px;
	border: none;
	color: black;
	text-align: left;
}

/* CONTENT-NAV - begin */
h1 + .content-nav {
}
.content-nav {
	margin-bottom: 1.25em;
	/* Draw an extra line here so that there will be a divider
	if there is only one row of content-nav links */
	border-bottom: 1px solid #eee;
	margin-top: 5px;
}
.content-nav-rowone, .content-nav-rowtwo {
	display: block;
	margin: 0;
}
.content-nav-rowtwo {
	margin-bottom: 0;
}
.content-nav ul {
	white-space: nowrap;
        padding-left: 0;
}
.content-nav li {
	display: inline;
	list-style: none;
}
.content-nav li + li {
	border-left: 1px solid #ccc;
}
li + .content-nav-selected, .content-nav-selected + li {
	border-left: 1px solid transparent !important;
}
.content-nav a {
}
.content-nav li a {
	/* Split up "li a" and "a" in content-nav to cater to NS4 */
	padding: 4px 8px 5px 9px;
}
.content-nav-rowone li a:hover {
	/* Hover effects, if we decide to do something with it. */
}
.content-nav-rowtwo li a:hover {
	/* Hover effects, if we decide to do something with it. */
}
.content-nav-selected-link {
	/* Enable bold for NS4 - will nullify in the next CSS tidbit */
	font-weight: bold;
	color: #000;
	background-color: #eee;
}
.content-nav-selected a {
	/* Hide boldness from sane browsers */
	font-weight: normal;
}
.content-nav-rowtwo {
	border: 1px sold #000;
	background-color: #eee;
	padding: 5px;
}
.content-nav-rowtwo li + li {
	border-left: 1px solid #ccc;
}
.content-nav-rowtwo .content-nav-selected-link {
	background-color: #e0e0e0;
}
/* CONTENTNAV - end */
div.toolbar {
	vertical-align: middle;
	font-weight: normal;
	font-size: 12px;
	color: #999;
        float: right;
        margin-top: 9px;
        white-space: nowrap;
}
.toolbar img {
	border: none;
	padding: 0 2px 1px 2px;
	vertical-align: middle;
}
.toolbar a {
	padding: 0 2px;
	text-decoration: none;
}

div.up-arrow {
	vertical-align: middle;
	font-weight: normal;
	font-size: 12px;
	color: #999;
        float: left;
        marginp: 0 2%;
        white-space: nowrap;
}
.up-arrow img {
	border: none;
	padding: 0 2px 4px 2px;
	vertical-align: middle;
}
.up-arrow a {
	padding: 0 2px;
	text-decoration: none;
}


.ok-explanation img {
	border: none;
	vertical-align: middle;
	padding: 2px 0 4px 0;
}


.resubscribe-warning img {
	border: none;
	vertical-align: middle;
	padding: 2px 0 4px 0;
}

.resubscribe-warning-big {
	margin: 0 2%;
	cursor: text;
	color:  #c00;
}
.resubscribe-warning-big img {
	border: none;
	padding: 0 4px 0 0;
	vertical-align: middle;
	float: left;
}

.required-form-field {
	font-weight: bold;
	color:  #c00;
}
.ssm-overview th {
	background-color: #fff;
	border: none;
	text-align: center;
	padding: 6px;
}


table.namespace-control {
  padding:  4px;
}

.namespace-control tr {
	vertical-align:  middle;
}

.namespace-control td {
	padding: 4px;
}

.namespace-control-buttons td {
	padding:  4px;
	vertical-align:  middle;
}

table.details-2-columns {
	padding: 4;
	border: none;
}

table.details { 
  margin: 0 2%;
}
.details th {
	padding: 8px;
        padding-left: 16px;
	border: none;
	color: #444;
	text-align: right;
	vertical-align: top;
        border: 1px solid #ddd;
        border:none;
        background-color: #eee;
        -moz-border-radius-topleft: 15px;
        -moz-border-radius-bottomleft: 15px;
}

.details th.required-form-field { 
  border-right: 4px solid #c77;
}

.details td {
	vertical-align: top;
	padding: 4px;
        padding-left: 2px;
        padding: 8px;
        border-bottom: 0;
}

.details th + td {
	border-bottom: 1px solid #ddd;
}

.details td div {
	text-align: left;
        margin-bottom: 10px;
        white-space: nowrap;
}

.details td table td {
        margin: 0;
        padding: 0;
	border: 0;
}

.details td table {
}

table.details td.small-form textarea {
        font-size: 10px;
        font-family: monospace;
}

.details-header {
	font-weight: bold;
	/*
	*/
	color: #444;
	font-family: helvetica;
}

.system-status {
	text-align: center;
}
.system-status img {
	vertical-align: middle;
	padding-top: 0px;
	padding-bottom: 2px;
}
.system-update-critical {
	font-weight: bold;
	color: #900;
}

.system-status-critical-updates {
	font-weight: bold;
	color: #c00;
}
.system-status-updates {
	font-weight: bold;
	color: #d80;
}
.system-status-bugfixes {
	font-weight: bold;
	color: #337;
}
.system-status-enhancements {
	font-weight: bold;
	color: #595;
}
.system-status-updates-scheduled {
	font-weight: bold;
}
.system-status-up-to-date {
	font-weight: bold;
	color: #68d;
}
.system-status-unentitled {
	font-weight: bold;
	color: #333;
}
.system-status-awol {
	font-weight: bold;
	color: #f63;
}

.work-with-group-header {
	text-align:  right;
}
.work-with-group-header img {
	border: none;
}

td.comparison {
	padding: 10px;
}

.summary-row {
	background-color: #f5f5f5;
}

.feedback-email { 
  font-weight: bold;
  color: #900;
}

.schedule-action-interface { 
  color: black;
}

#navlogo { 
  border: 0;
  margin: 6px 6px;
  position: absolute;
  top: 5px;
}
#navtabs {
  position: absolute;
  left: 140px;  
  top: 74px;
  display: block;
}
#header {
  position: absolute;
  left: 140px;  
  top: 12px;
  display: block;
}
#navhelp { 
  position: absolute;
  right: 10px;
  top: 15px;
  border: 0;
  padding: 15px;
  padding-top: 0px;
}

.action-summary-errata, .action-summary-package { 
  padding-top: 10px;
}

.action-summary-errata ul, .action-summary-package ul { 
  margin: 0;
  list-style: none;
}

div.page-summary {
  margin: 0 2%;
  cursor: text;
}

div.page-summary a { 
  text-decoration: underline;
  cursor: pointer
}

div.marketing-summary {
  margin: 0 2%;
  cursor: text;
}

div.marketing-summary a { 
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer
}

.search-choices form { 
  margin: 0;
  padding: 0;
}
.search-choices { 
  margin-top: 20px;
}

.search-choices-group { 
  margin-left: 40px;
}

.debug-profile { 
  background-color: #eee;
  border: 1px solid #ccc;
  margin: 20px 40px;
  padding: 8px;
}

div.buy-now { 
  text-align: center;
  padding: 4px;
  padding-top: 16px;
}

div.buy-now img { 
  border: 0;
}

span.no-details {
  font-style: italic;
  color: #777;
}  

.page-content {
	padding: 6px 10px 6px 16px;
        vertical-align: top;
}

div.rhn-embedded-help { 
  padding: 6px 20px 6px 20px;
}

.rhn-embedded-help-NAVHEADER th { 
  margin-top: 0;
  padding-bottom: 1em;
  font-size: 20px;
  border: 0;
  background-color: #fff;
  color: black;
  text-align: left;
}

.rhn-embedded-help-NAVHEADER td { 
  padding: 0 2em;
}

.rhn-embedded-help-TOC { 
  padding: 0 4em;
}

code.line-of-code {
  white-space: nowrap
}
