.tblborder
{
    background-color: #7c7a90;
    font-family: Calibri;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}


.header
{
    border: 1px solid #aed0ea;
    color: Gray;
    font-weight: bold;
    font-size: 14px;
    font-family: Tahoma;
    text-align:left;
    background: #d7ebf9 50% 50% repeat-x;

} 
.bgGray
{
    font-weight: normal;
    color: #362b36;
    padding:3px;
    background: #f2f5f7 50% 50% repeat;
}
.bgAlt
{
    background: #eff6fc;
    font-weight: normal;
    color: #362b36;
    padding:3px;
}
.highlightRow
{
    background: rgb(228,245,252); 
    color: Black;
}
.repeaterRow
{
    text-decoration: none;
}

