body {
	font-size: xx-small;
	font-family: verdana, arial, helvetica;
	color: #000000;
	background-color: #FFFFFF;
}

.box-base	{

	background-color: #DDDDDD;
	color: #000000;
	font-size:11px;
	border-style: ridge;
}

.box-displayotm {
	background-color: #DDDDDD;
	font-size:12px;
	color: #000000;
}

.box-displayotm-title {
	font-size:22px;
	color: #000000;
}

.box-displayotm-winner {
	font-size:18px;
	font-style:bold;
	color: #000000;
}

.frame-left {
	font-size : xx-small;
	font-family : verdana, arial, helvetica
	color: #000000;
	background-color: #D0DCE0;
}

.otm-table {
	font-size : 12px;
	font-family : verdana, arial, helvetica
	color: #000000;
}

.admin-table {
	font-size : xx-small;
	font-family : verdana, arial, helvetica
	color: #000000;
}

.search-table {
  border: 1px solid #999;
  padding: 12px 10px;
  margin: 10px;
  background-color: #eee;
  margin-left: auto;
  margin-right: auto;
  font-size: x-small;
}
.stat-table {
	font-size : 12px;
	font-family : verdana, arial, helvetica
	color: #000000;
}

.box a:link	{
	text-decoration:none;
	color:silver;
}
.box a:visited  {
	text-decoration:none;
	color:silver;
}
.box a:hover	{
	text-decoration:underline;
	color:#FFFFFF;
	font-weight : bold;
}
.box a:active  {
	text-decoration:underline;
	color:#FFFFFF;
}
.box2	{
	color:black;
	font-size:11px;
	font-family: Verdana, Arial, Helvetica;
}
.box2 a:link	{
	text-decoration:none;
	font-weight : bold;
	color:#000000;
}
.box2 a:visited  {
	text-decoration:none;
	font-weight : bold;
	color:#000000;
}
.box2 a:hover	{
	text-decoration:underline;
	font-weight : bold;
	color:#000000;
}
.box2 a:active  {
	text-decoration:underline;
	font-weight : bold;
	color:#000000;
}
.smallheader  {
	font-family : Arial;
	font-size : x-small;
	font-weight : bold;
}
.dsmallheader  {
	font-family : Arial;
	font-size : x-small;
	font-weight : bold;
	color:#000000;
}
.titleheader  {
	font-family : Arial;
	font-size : small;
	font-weight : bold;
}
.partheader  {
	font-family : Arial;
	font-size : x-small;
	font-weight : bold;
}

.smallerheader  {
	font-family : Arial;
	font-weight : bold;
	font-size : xx-small;
}

.smalltext  {
	font-family : Arial;
	font-size : x-small;
}

.smallertext  {
	font-family : Arial;
	font-size : xx-small;
}

.tbflat  {
	font-size : xx-small;
	font-family : Arial;
	border-width : 1;
	border-style : solid;
        border-color : #FFFFFF;
        background-color: #CCE6FF;
}
.chgflat  {
	font-size : xx-small;
	font-family : Arial;
	border-width : 1;
	border-style : solid;
	border-color : #000000;
        background-color: #FFFFFF;
}
.cmdflat  {
	font-size : x-small;
	font-family : Arial;
	color : #000000;
	font-weight : bold;
	border-width : thin;
}
.opflat  {
	font-size : x-small;
	font-family : Arial;
	background-color : silver;
	color : #000000;
	font-weight : bold;
	border-width : thin;
}

.site-info {
        border: 2px solid #aab5dd;
        background-color: #dde5ff;
        padding: 0.5em; 
        margin-bottom: 0.5em;
        margin-top: 2px;    
        font-size: 10px;
        text-align: center;
}


div.login-component {
  text-align: center;
}

div.login-box {
  border: 1px solid #999;
  text-align: right;
  padding: 12px 10px;
  margin: 4px;
  background-color: #eee;
  width: 190px;
  margin-left: auto;
  margin-right: auto;  

}

div.login-box form {
  margin: 0;
}

div.login-box div.input-row {
  font-weight: bold;
  font-size: 10px;
  white-space: nowrap;
}

div.login-box div.input-row input {
  font-weight: normal;
  vertical-align: middle;
}

